Repository ilya03601/demo-env: changes, and which lint-staged commands are due for each by the changed paths.
All: npx eslint --fix, prettier --write

Fix html
  .husky/pre-commit
  src/index.html
  src/sum.js
Due: npx eslint --fix, prettier --write

Enabled lint-stage
  src/index.html
Due: prettier --write

Changed sum.js
  src/sum.js
Due: npx eslint --fix

GitHub Pages config
  .github/workflows/github-pages.yml
Due: none

Change
  src/sum.js
Due: npx eslint --fix

deploy: 56f563ebe082c8336a4c60413f921b9a1d182ece
  .nojekyll
  index.html
  index.js
  sum.js
Due: npx eslint --fix, prettier --write

Path conditions:
  npx eslint --fix: any of: *.js
  prettier --write: any of: *.{html, js, css}
